@import 'tailwindcss';

::-webkit-scrollbar {
    display: none;
}

@theme inline {
    --color-white: #ffffff;
    --color-black: #282828;

    --animate-marquee: marquee 20s linear infinite;
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    --animate-scroll: scroll 2.5s ease infinite;
    @keyframes scroll {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(20px);
        }
    }
}

body {
    background: var(--color-black);
    color: var(--color-white);
}

.wrapper div::before, .card-bg-grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 1;
    pointer-events: none;
    transition: 0.2s ease;
}
.wrapper div:hover::before {
    background: transparent;
}

.hero-image-container:hover img {
    transform: scale(1.05);
}
.hero-image-container img {
    height: 100%;
    transition: 0.2s ease;
}

.horizontal-scroll.wrapper {
    white-space: nowrap;;
}

.scrolling-banner::before, .recent-shoots::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--color-black) 10%, transparent 25%, transparent 75%, var(--color-black) 90%);
    z-index: 1;
    display: none;
}

.shoot-card div .grid {
    transition: 0.2s ease;
}
.shoot-card:hover div .grid {
    transform: scale(1.05);
}

.card-parent-div div {
    transform: scale(0.95);
    opacity: 0.8;
    border: none !important;
}

.active {
    transform: scale(1) !important;
    opacity: 1 !important;
}

@media screen and (min-width: 1024px) {
    .scrolling-banner::before {
        display: block;
    }
}